@import url("https://www.w3schools.com/w3css/4/w3.css");
@import url(responsiveMenu.css);

html, body{
    font-family: "Lucida Console", Monaco, monospace;
    color: white;
	  padding: 0;
    margin: 0px;
    border: 0;
    /*overflow: hidden; /*  Disable scrollbars */
    display: block;   /* No floating content on sides */
}


.titulo{
    z-index: 15;
    position: sticky;
    top: 30%;
    /* left: auto; */
	  /* text-align: center; */
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    /* border: solid green 2px; /*debug stuff*/ */

}

/*Header Image classes visible/invisible*/
.ab_center
{
    height:100%;
    width:100%;
    position: absolute;
    margin:auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    max-width: 80%;
    max-height: 50%;
}
.ab_center_inv
{
  height:100%;
  width:100%;
  position: absolute;
  margin:auto;
  top:0;
  left:0;
  right:0;
  bottom:0;
  max-width: 80%;
  max-height: 50%;
  visibility: hidden;
}

/*video classes visible/invisible*/
.video_invisible
{
  height:100%;
  width:100%;
  position: absolute;
  align-self: center;
  margin:auto;
  top:0;
  left:0;
  right:0;
  bottom:0;
  max-width: 90%;
  max-height: 90%;
  visibility: hidden;
}

.video_visible
{
  height:100%;
  width:100%;
  position: absolute;
  align-self: center;
  margin:auto;
  top:0;
  left:0;
  right:0;
  bottom:0;
  max-width: 90%;
  max-height: 90%;
  visibility: visible;
}

a{
	text-decoration: none;
	color: white;
}


a:hover{
	background-color: #3E3E50;
}

footer{
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
	  text-align: center;
    display: block;
    width: 100%;
    font-size: 20px;
}
