html, body{
    background-color: #0E0E18;
    /* font-family: "Lucida Console", Monaco, monospace; */
    color: white;
	  /* padding: auto; */
    /* margin: auto; */
    /* border: 0; */
    /* display: block;   /* No floating content on sides */ */
}


h1{
    font-size: 70px;
    text-align: center;

}

p{
  font-family: inherit;
  /* margin-left:5%; */
  /* text-align: justify; */
}

canvas#fondo{
	  padding: 0;
    margin: 0px;
    border: 0;
    z-index: 2;
}


a{
	text-decoration: none;
	color: inherit;
}


a:hover{
	background-color: rgba(25, 25, 30, 1);
  color: white;
}

footer{
    font-family: "Lucida Console", Monaco, monospace;
    z-index: 1;
    position: fixed;
    bottom: 3%;
    left: 0;
	  text-align: center;
    display: block;
    width: 100%;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.3);
    padding-top: 20px;
    /* border: solid red 2px; */
}

footer:hover{
  color: rgba(255, 255, 255, 1);
}
