/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_responsive_navbar_dropdown */
.footnav {
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
}

.footnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.footnav .icon {
  display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.footnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
  .footnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .footnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .footnav.responsive {position: relative;}
  .footnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .footnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .footnav.responsive .dropdown {float: none;}
  .footnav.responsive .dropdown-content {position: relative;}
  .footnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
